<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
	<h2>Database Results</h2>
	<ul>
		<% for (let row = 0; row < rows.length; row++) { %>
		    <li><%= row.id %> - <%= row.name %></li>
		<% } %>
	</ul>
</div>
</body>
</html>
